<!doctype html>
<title>TypeCast --- Text Annotation and Tagging tool</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h2>TypeCast™</h2>
  <h4>Document Annotation and Tagging service</h4>
  <div>
      <ul>
        <li><a style="color:; text-align:center; font-size:180%;" href="categoryfromtext" target="_blank">Get Category from Text</a></li>
        <li><a style="color:; text-align:center; font-size:180%;" href="tagsfromtext" target="_blank">Get Tags from Text</a></li>
        <li><a style="color:; text-align:center; font-size:180%;" href="documentAnalyser" target="_blank">Analyze a Document</a></li>
      </ul>
  </div>
  <div class=metanav>
    Other Services:
    <h5 style="text-align:center; font-size:80%;"><a style="color: ;" href="relavencycheck" target="_blank">ARTICLE RELEVANCY!</a> | 
      <a style="color: ;" href="munichnews" target="_blank">LOCAL NEWS INDEXING!</a></h5>
  </div>
  <p style="color:; text-align:center; font-size:180%;">Built with &hearts; for Hackaburg2018 and dracoon.team.</p>
</div>