<!doctype html>
<title>TypeCast --- Text Annotation and Tagging tool</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h4>TypeCast --- Text Annotation and Tagging tool</h4>
  <div class=metanav>
      <ul>
        <li><a href="aps">Get Category from Text</a></li>
        <li><a href="aps">Get Tags from Text</a></li>
        <li><a href="aps">Analyze a Document</a></li>
      </ul>
  </div>
  <h5><a href="aps">FAKE NEWS ANALYSER!</a></h5>
</div>